@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary-1: #FEFAF0;
  --color-primary-2: #FFE484;
  --color-primary-3: #FFFFFF;
}

.bg-p-1{
  background-color: var(--color-primary-1);
}

.bg-p-2{
  background-color: var(--color-primary-2);
}

.bg-p-3{
  background-color: var(--color-primary-3);
}

.overllay1{
  background-color: rgba(209, 209, 209,0.5);
  transition: all 0.3s linear;
}

.swapper{
  @apply max-w-[1440px] mx-auto
}
.iframe_about{
  @apply w-full h-[250px] md:h-[450px] lg:h-[550px] xl:h-[600px] 2xl:h-[650px]
}
body{
  background-color: var(--color-primary-1);
}